.date-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #7d4444;
    /*-fx-border-color: #637d44;*/
    -fx-border-width: 0px;
    -fx-text-fill: #ffffff;
}

.date-btn:hover {
    /*-fx-background-color: #637D44;*/
    /*-fx-text-fill: #ffffff;*/
    -fx-background-color: #7d4444;
    -fx-text-fill: #ffffff;
}

.date-btn:pressed {
    /*-fx-border-color: #516538;*/
    /*-fx-background-color: #516538;*/
    /*-fx-text-fill: #ffffff;*/
    -fx-border-color: #653838;
    -fx-background-color: #653838;
    -fx-text-fill: #ffffff;
}

.date-btn-control {
    -fx-border-width: 3px;
}

#content-box {
    -fx-background-color: rgba(135, 74, 27, 0.8);
}

.booking-back {
    -fx-background-image: url("../pic/home-background1.jpg");
    -fx-background-size: 100% 100%;
}

.calendar-back {
    -fx-background-color: rgba(64, 64, 64, 0.7);
}

.date-fix {
    -fx-text-fill: #ffffff;
}

.head-bar {
    -fx-background-color: rgba(69, 47, 47, 0.7);
}

.side-hyperlink {
    /*-fx-background-color: #ffd803;*/
    -fx-background-color: #212121;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
}

.side-hyperlink:hover {
    -fx-underline: false;
}

.side-hyperlink:pressed {
    -fx-border-width: 0;
}

#left-tool-bar {
    -fx-background-color: rgba(69, 47, 47, 0.7);
}

#date-show {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

#date-show:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

#date-show:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.coach-list-scroll {
    -fx-background-color: transparent;
}

.coach-list-scroll > .viewport {
    -fx-background-color: transparent;
}

.location-input{
    -fx-background-color: rgba(25,25,25,0.6);
    -fx-text-fill: orange;
    -fx-font-size: 20;
}

/*Background color of the whole context menu*/
#sport-item-choice .context-menu {
    -fx-background-color: rgba(25, 25, 25, 0.6);
}

/*Focused item background color in the list*/
#sport-item-choice .menu-item:focused {
    -fx-background-color: orange;
}

/*Text color of non-focused items in the list*/
#sport-item-choice .menu-item > .label {
    -fx-text-fill: white;
}

/*Text color of focused item in the list*/
#sport-item-choice .menu-item:focused > .label {
    -fx-text-fill: black;
}

/*Background color of the control itself*/
#sport-item-choice {
    -fx-font-size: 20;
    -fx-background-color: rgba(25, 25, 25, 0.6);
    -fx-mark-color: orange;
}

/*Selected item text color on the control itself*/
#sport-item-choice > .label {
    -fx-text-fill: white;
}