.date-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #7d4444;
    /*-fx-border-color: #637d44;*/
    -fx-border-width: 0px;
    -fx-text-fill: #ffffff;
}

.date-btn:hover {
    /*-fx-background-color: #637D44;*/
    /*-fx-text-fill: #ffffff;*/
    -fx-background-color: #7d4444;
    -fx-text-fill: #ffffff;
}

.date-btn:pressed {
    /*-fx-border-color: #516538;*/
    /*-fx-background-color: #516538;*/
    /*-fx-text-fill: #ffffff;*/
    -fx-border-color: #653838;
    -fx-background-color: #653838;
    -fx-text-fill: #ffffff;
}

.date-btn-control {
    -fx-border-width: 3px;
}

#content-box {
    -fx-background-color: rgba(135, 74, 27, 0.8);
}

.booking-back {
    -fx-background-image: url("../pic/home-background1.jpg");
    -fx-background-size: 100% 100%;
}

.calendar-back {
    -fx-background-color: rgba(64, 64, 64, 0.7);
}

.date-fix {
    -fx-text-fill: #ffffff;
}

.head-bar {
    -fx-background-color: rgba(69, 47, 47, 0.7);
}

.side-hyperlink {
    /*-fx-background-color: #ffd803;*/
    -fx-background-color: #212121;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
}

.side-hyperlink:hover {
    -fx-underline: false;
}

.side-hyperlink:pressed {
    -fx-border-width: 0;
}

#left-tool-bar {
    -fx-background-color: rgba(69, 47, 47, 0.7);
}

#date-show {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

#date-show:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

#date-show:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.coach-list-scroll {
    -fx-background-color: transparent;
}

.coach-list-scroll > .viewport {
    -fx-background-color: transparent;
}

.item-combobox.list-view{
    -fx-background-color: orange;
}
/*Background color of the whole context menu*/
.item-combobox .list-cell {
    -fx-background-color: #a36c00;
    -fx-text-fill: black;
}
/*Focused item background color in the list*/
.item-combobox .list-cell:hover {
    -fx-background-color: #191919;
    -fx-text-fill: white;
}
.item-combobox .list-cell:focused {
    -fx-background-color: #684400;
    -fx-text-fill: black;
}

/*Background color of the control itself*/
.item-combobox {
    -fx-font-size: 20;
    -fx-background-color: #b67601;
}

#subscribe-btn{
    -fx-background-color: rgba(60,60,60,0.9);
    -fx-text-fill: white;
}
#subscribe-btn:hover{
    -fx-background-color: #ffa500;
    -fx-text-fill: black;
}
#subscribe-btn:pressed{
    -fx-background-color: #d28c03;
}
