.HomeBackground{
    -fx-background-image: url("../pic/home-background1.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
.head-component{
    -fx-background-color: transparent;
}
.head-background{
    -fx-background-color: rgba(38, 0, 0, 0.5);
}
.body-component{
    -fx-background-color: rgba(40, 20, 20, 0.2);
}
#my-scroll-pane > .viewport{
    -fx-background-color: transparent;
}
#my-scroll-pane {
    -fx-background-color: rgba(69, 47, 47, 0.7);
}
.advertisement-box{
    -fx-border-color: #000000 ;
    -fx-border-radius: 9px;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
}
.tool-bar{
    -fx-background-color: rgba(255,255,255,1);
}
#head-icon{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #f3f3f3;
    -fx-border-width: 4px;
}
.head-hyperlink{
    -fx-border-width: 0;
    -fx-text-fill: #e8e8e8;
}
.head-hyperlink:hover{
    -fx-underline: false;
    -fx-background-color: rgba(26,0,0,0.6);
}
#learn-more{
    -fx-background-color: transparent;
    -fx-text-fill: #eedfdf;
}
#Learn-more:hover{
    -fx-underline: true;
}
#start-trail{
    -fx-background-radius: 50px;
    -fx-background-color: #ffd803;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0;
}
#start-trail:hover{
    -fx-underline: false;
}
.operation-box{
    -fx-background-color: rgba(40, 5, 5, 0.2);
}
#advertisement-picbox1{
    -fx-background-image: url("../pic/advertisement1.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#advertisement-picbox2{
    -fx-background-image: url("../pic/example1.jpg");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}