#content-box{
    -fx-background-color: rgba(135,74,27,0.8);
}
.booking-back{
    -fx-background-image: url("../pic/home-background1.jpg");
    -fx-background-size: 100% 100%;
}

.head-bar{
    -fx-background-color: rgba(69, 47, 47, 0.7);
}
.side-hyperlink{
    /*-fx-background-color: #ffd803;*/
    -fx-background-color: #212121;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-font-family: Cambria;
    -fx-font-size: 18px;
}
.side-hyperlink:hover{
    -fx-underline: false;
}
.side-hyperlink:pressed{
    -fx-border-width: 0;
}
#left-tool-bar{
    -fx-background-color: rgba(69, 47, 47, 0.7);
}
.order-list-scroll{
    -fx-background-color: rgba(64, 64, 64, 0.7);
}
.order-list-scroll > .viewport{
    -fx-background-color: transparent;
}