.date-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #7d4444;
    /*-fx-border-color: #637d44;*/
    -fx-border-width: 0px;
    -fx-text-fill: #ffffff;
}
.date-btn:hover{
    /*-fx-background-color: #637D44;*/
    /*-fx-text-fill: #ffffff;*/
    -fx-background-color: #7d4444;
    -fx-text-fill: #ffffff;
}
.date-btn:pressed{
    /*-fx-border-color: #516538;*/
    /*-fx-background-color: #516538;*/
    /*-fx-text-fill: #ffffff;*/
    -fx-border-color: #653838;
    -fx-background-color: #653838;
    -fx-text-fill: #ffffff;
}
#left-tool-bar{
    -fx-background-color: rgba(69, 47, 47, 0.7);
}
#videoList{
    -fx-background-color: transparent;
}
#videoList > .viewport{
    -fx-background-color: transparent;
}
#content-box{
    -fx-background-color: rgba(135,74,27,0.8);
    -fx-background-radius: 30;
}
.booking-back{
    -fx-background-image: url("../pic/home-background1.jpg");
    -fx-background-size: 100% 100%;
}
.head-bar{
    -fx-background-color: rgba(69, 47, 47, 0.7);
}
.side-hyperlink{
    /*-fx-background-color: #ffd803;*/
    -fx-background-color: #212121;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-font-family: Cambria;
    -fx-font-size: 18px;
}
.side-hyperlink:hover{
    -fx-underline: false;
}
.side-hyperlink:pressed{
    -fx-border-width: 0;
}