.video-link {
    -fx-text-fill: white;
}

.video-link:hover {
    -fx-text-fill: red;
}

.right-scroll-bar>.viewport {
    -fx-background-color: rgb(38, 38, 43);
}

.right-scroll-bar {
    -fx-background-color: rgb(38, 38, 43);
}
.right-bar{
    -fx-background-color:rgb(46,46,54);
}
.left-content {
    -fx-background-color: rgb(46, 46, 54)
}
.back-btn{
    -fx-text-fill: white;
    -fx-background-color: rgb(30,30,40);
    -fx-font-size: 15px;
    -fx-font-weight: 800;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.back-btn:hover{
    -fx-background-color: rgb(29, 29, 36);
}
.back-btn:pressed{
    -fx-background-color: rgb(22, 22, 28);
}
#thumb-up-btn{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}