.order-big-box{
    -fx-background-color: transparent;
}
.order-box{
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-effect: innershadow(three-pass-box, rgb(250, 250, 250), 10.0, 0, 0, 0);
    -fx-background-color: rgb(60, 60, 60);
}
.order-label{
  -fx-text-fill: rgba(255,255,255,1);
}